.footer-color{
    background-color: black;
}


.foter-col{
    font-size: 45px;
    color: rgb(176, 38, 171);
}
.footer-weight{
    font-family: 'M PLUS 1', sans-serif;
    font-weight: 500;
}
.footer-title-size{
    font-size: 35px;
    font-family: "Raleway", sans-serif;
}
.icn{
    display: inline-block;
    height:40px;
    width: 40px;
    background-color: #ffffff;
    margin:0 10px 10px 0;
    text-align: center;
    line-height:40px;
    border-radius: 50%;
    color: #141313;
    transition:all 0.5s ease;
}
.icn:hover{
    color: #f0f2fa;
    background: linear-gradient(97deg, rgba(132, 38, 176, 1) 0%, rgba(182, 11, 134, 1) 72%, rgba(240, 74, 85, 1) 98%);
}
.pragraph-weight{
    font-weight: 500;
    font-family: 'M PLUS 1', sans-serif;
}
